body {
  margin-top: -10px;
  background-image: url('../images/golf.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: auto;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

h1  {
  font-family: "Comic Sans MS", cursive, sans-serif
}

table {
  background: white;
  opacity: .85;
}
.numberOfPlayers {
  border: solid 1px none;
/*  width: 50%;
  height: auto;*/
  border-radius: 10px;
  padding: 3px;
  display: inline-block;
  background-color: none;

}

.golfball {
  display: inline-block;
  width: 25px;
  height: 25px;
}

@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}
